@import "tailwindcss";
/* @import url('https://fonts.google.com/specimen/Outfit?preview.text=Whereas%20recognition%20of%20the%20inherent%20dignity');

body {
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  background-color: #fff;
} */